streamlit
langchain
faiss-cpu
together
pdf2image
pytesseract
Pillow
python-dotenv




pypdf

langchain==0.1.14
langchain-community==0.0.31
sentence-transformers==2.2.2
transformers==4.37.2
torch==2.2.1


streamlit


sentence-transformers
faiss-cpu
chromadb
pypdf
python-dotenv
huggingface-hub
tqdm
numpy
