streamlit
langchain
faiss-cpu
together
pdf2image
pytesseract
Pillow
python-dotenv
langchain-together


streamlit
pytesseract
pdf2image
pillow
python-dotenv
together
faiss-cpu
sentence-transformers
langchain


pypdf

langchain==0.1.14
langchain-community==0.0.31
sentence-transformers
transformers==4.37.2
torch==2.2.1


streamlit



faiss-cpu
chromadb
pypdf
python-dotenv
huggingface-hub
tqdm
numpy
